@page "/PeterWorksPostback"
@using AdBrixWebSDKTestApp.Models
@using System.Text.Json
@inject HttpClient HttpClient
@inject IJSRuntime JsRuntime

<h1 class="font-sans text-3xl font-bold">PeterWorksPostback</h1>
<br>
<table>
    <td>
        <p class="mx-2">AppKey</p>
    </td>
    <td>
        <input class="border py-2 px-3 w-32 mx-2" placeholder="Appkey" @bind="Appkey"/>
    </td>
    <td class="mx-2">PostbackType</td>
    <td>
        <select class="border py-2 px-3 mx-2" @bind="PostbackType">
            @foreach (var items in postbackTypeList())
            {
                <option value=@items>@items</option>
            }
        </select>
    </td>
    <td class="mx-2">StartDate</td>
    <td>
        <input type="date" class="border py-2 px-3 my-0.5" @bind="StartDate"/>
    </td>
    <td class="mx-2">EndDate</td>
    <td>
        <input type="date" class="border py-2 px-3 my-0.5" @bind="EndDate"/>
    </td>
</table>
<br>
<button class="btn btn-primary mx-2" @onclick="GetPostback">GetPostback</button>
<br>
<table>
    <thead>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">AppKey</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">Postback_Type</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">ADID</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">IDFV</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">AttrType</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">EventName</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">EventTime</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">ServerTime</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">Platform</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">Carrier</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">Language</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">Country</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">Peter_parameter</th>
    <th class="bg-blue-400 border-2 text-center text-white px-2 py-2">Works_parameter</th>
    </thead>

    @if (_peterworksList != null)
    {
        foreach (var peterValue in _peterworksList)
        {
            var appkey = peterValue.Appkey;
            var postbackType = peterValue.PostbackType;
            var adid = peterValue.Adid;
            var idfv = peterValue.Idfv;
            var attrtype = peterValue.AttrType;
            var eventName = peterValue.EventName;
            var eventTime = peterValue.EventTime;
            var serverTime = peterValue.ServerTime;
            var platform = peterValue.Platform;
            var carrier = peterValue.Carrier;
            var language = peterValue.Language;
            var country = peterValue.Country;
            var peter_parameter = peterValue.PeterParameter;
            var works_parameter = peterValue.WorksParameter;

            var eventDateTime = new DateTime(1970, 1, 1).AddSeconds(eventTime).ToLocalTime();
            var serverDateTime = new DateTime(1970, 1, 1).AddSeconds(serverTime).ToLocalTime();

            <tr>
                <td class="border-2 text-center text-xs px-2 py-2">@appkey</td>
                <td class="border-2 text-center text-xs px-2 py-2">@postbackType</td>
                <td class="border-2 text-center text-xs px-2 py-2">@adid</td>
                <td class="border-2 text-center text-xs px-2 py-2">@idfv</td>
                <td class="border-2 text-center text-xs px-2 py-2">@attrtype</td>
                <td class="border-2 text-center text-xs px-2 py-2">@eventName</td>
                <td class="border-2 text-center text-xs px-2 py-2">@eventDateTime</td>
                <td class="border-2 text-center text-xs px-2 py-2">@serverDateTime</td>
                <td class="border-2 text-center text-xs px-2 py-2">@platform</td>
                <td class="border-2 text-center text-xs px-2 py-2">@carrier</td>
                <td class="border-2 text-center text-xs px-2 py-2">@language</td>
                <td class="border-2 text-center text-xs px-2 py-2">@country</td>
                <td class="border-2 text-center text-xs px-2 py-2">@peter_parameter</td>
                <td class="border-2 text-center text-xs px-2 py-2">@works_parameter</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="14" class="border-2 px-8 py-2 text-center">There is no Data</td>
        </tr>
    }
</table>

@code {

    private string Appkey { get; set; }
    private string PostbackType = "install";
    private DateTime StartDate = DateTime.Today;
    private DateTime EndDate = DateTime.Today.AddDays(1.0);

    private List<Peterworks> _peterworksList;

    private Peterworks _peterworks;

    private List<string> postbackTypeList()
    {
        var postbackTypeName = new List<string>();
        postbackTypeName.Add("install");
        postbackTypeName.Add("event");

        return postbackTypeName;
    }

    private async Task<List<Peterworks>> GetPostback()
    {
        _peterworksList = new List<Peterworks>();

        var startDateUnix = (long) StartDate.ToUniversalTime().Subtract(new DateTime(1970, 1, 1, 0, 0, 0)).TotalSeconds;
        var endDateUnix = (long) EndDate.ToUniversalTime().Subtract(new DateTime(1970, 1, 1, 0, 0, 0)).TotalSeconds;

        var jsonData = await HttpClient.GetFromJsonAsync<JsonElement[]>($"https://peterpostback.azurewebsites.net/api/Peterworks/get/appkey={Appkey}&postback_type={PostbackType}&startdate={startDateUnix}&enddate={endDateUnix}");

        if (jsonData != null)
        {
            foreach (var items in jsonData)
            {
                _peterworks = new Peterworks();

                var getEventTime = items.GetProperty("eventTime").ToString();
                var getServerTime = items.GetProperty("serverTime").ToString();

                var eventTime = Convert.ToInt64(getEventTime);
                var serverTime = Convert.ToInt64(getServerTime);

                _peterworks.Appkey = items.GetProperty("appkey").ToString();
                ;
                _peterworks.PostbackType = items.GetProperty("postbackType").ToString();
                ;
                _peterworks.Adid = items.GetProperty("adid").ToString();
                ;
                _peterworks.Idfv = items.GetProperty("adid").ToString();
                ;
                _peterworks.AttrType = items.GetProperty("attrType").ToString();
                ;
                _peterworks.EventName = items.GetProperty("eventName").ToString();
                ;
                _peterworks.EventTime = eventTime;
                _peterworks.ServerTime = serverTime;
                _peterworks.Platform = items.GetProperty("platform").ToString();
                ;
                _peterworks.Carrier = items.GetProperty("carrier").ToString();
                ;
                _peterworks.DeviceModel = items.GetProperty("deviceModel").ToString();
                ;
                _peterworks.Language = items.GetProperty("language").ToString();
                ;
                _peterworks.Country = items.GetProperty("country").ToString();
                ;
                _peterworks.PeterParameter = items.GetProperty("peterParameter").ToString();
                ;
                _peterworks.WorksParameter = items.GetProperty("worksParameter").ToString();
                ;
                _peterworksList.Add(_peterworks);
            }
        }

        return _peterworksList;
    }

}